.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .fixed-components {
    position: fixed;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    top: 0.5%;
    left: 20px;
    width: 95%;
    background-color: #fff; /* Cambia el color de fondo a tu preferencia */
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  
  .reset-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #34123b;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-right: 10px;
  }
  
  .search-button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    background-color: #350e3d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  
  .search-button:hover {
    background-color: #646cff;
  }

  .reset-button:hover {
    background-color: #45454d;
  }