.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background-color: #f5f3f3b2;
  
}


.home-link {
  text-decoration: none;
  margin-bottom: 20px;
}

.home-button {
  border: none;
  background-color: #1a1a1a;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #646cff;
}

.product-info {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
}

.product-image-container {
  margin: 2px 0;
  max-width: 100%;
}

.product-image {
  max-width: 10%;
  height: auto;
  border-radius: 12px;
}


.product-description {
  font-size: 16px;
  margin-bottom: 15px;
}

.product-stock,
.product-condition {
  font-size: 14px;
  color: #888;
}
